@model ASPMedAPI.Models.Classes.Profil
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BÄRSDAGS</h1>
    <p class="lead">
        Söker du någon att dela en bärs med?
        Enligt statistik börjar 98,7% av alla vänskapliga relationer och 89,9% av alla kärleksfulla förhållanden med en BÄRS.
        Vi på bärsdags vill därför hjälpa dig att att hitta någon att dela denna ljuvliga stund med så att DU slipper sitta hemma ensam.
        <br />
        Varför BÄRSA ensam när man kan BÄRSA 1, 2, 3 eller 18 personer tillsammans?
        <br />
        <br />
        Klockan slog precis BÄRS'O'CLOCK så passa på att registrera dig nu och öka din chans till romans!
    </p>
    <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Registrera nu</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Erik, 23</h2>
        
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Förnamn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Förnamn)
                    </dd>
                </dl>
          
            <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Erik</button>
        </div>
    <div class="col-md-4">
        <h2>Hugo, 23</h2>
        <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Hugo</button>

    </div>
    <div class="col-md-4">
        <h2>Axel, 20</h2>
        <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Axel</button>

    </div>
</div>