@model IEnumerable<ASPMedAPI.Models.Classes.Profil>  
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BÄRSDAGS</h1>
    <p class="lead">
        Söker du någon att dela en bärs med?
        Enligt statistik börjar 98,7% av alla vänskapliga relationer och 89,9% av alla kärleksfulla förhållanden med en BÄRS.
        Vi på bärsdags vill därför hjälpa dig att att hitta någon att dela denna ljuvliga stund med så att DU slipper sitta hemma ensam.
        <br />
        Varför BÄRSA ensam när man kan BÄRSA 1, 2, 3 eller 18 personer tillsammans?
        <br />
        <br />
        Klockan slog precis BÄRS'O'CLOCK så passa på att registrera dig nu och öka din chans till romans!
    </p>
    <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Registrera nu</button>
</div>


@* Här "loopar" vi igenom listan med profiler *@
@* Hämtar ut förnamn och efternamn, Profilbild *@
@* Skickar en actionlink till användarens profil *@
@* Style koden bör läggas i en CSS fil *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <h5>@Html.DisplayFor(modelItem => item.Förnamn) @Html.DisplayFor(modelItem => item.Efternamn)</h5>
            <img src="~/Content/Images/@item.ProfileURL" style="height: 125px; width: 100px;" class="card-img-top" alt="Profile picture of @Html.DisplayFor(modelItem => item.Förnamn) @Html.DisplayFor(modelItem => item.Efternamn)">
                   
            @Html.ActionLink("» Visa profil", "Details", "Profils",  
             new { id = item.UserID },
             new { @class = "btn btn-primary" })
        </div>
    }
</div>