@using Microsoft.AspNet.Identity;

@model ASPMedAPI.Models.Classes.Profil

@{
    ViewBag.Title = Model.Förnamn + " " + Model.Efternamn;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</configuration>

<h2>@Html.DisplayFor(model => model.Förnamn) @Html.DisplayFor(model => model.Efternamn)</h2>
<div class="form-group">
    @Html.LabelFor(model => model.ProfileURL, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.HiddenFor(model => model.ProfileURL)
    <div class="col-md-10">
        @if (Model.ProfileURL != null)
        {
            <img id ="details" src="~/Content/Images/@Model.ProfileURL" />
        }
    </div>
</div>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Förnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Förnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efternamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efternamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Födelsedatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Födelsedatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
@if (!(Model.UserID == User.Identity.GetUserId()))
{
    @Html.ActionLink("» Lägg till vän", "RequestList", "Vän",
                new { friendID = Model.UserID },
                new { @class = "btn btn-primary" })

}


<p>
    @Html.ActionLink("Tillbaka", "Index")
</p>


<h3>@Model.Förnamn's Poster </h3>

<div class="list-group">

    <div>
        <ul id="bloggpostscontents">
            <li>
                @*<label>Loading...</label>*@
            </li>
        </ul>
    </div>

    <div>
        <form id="addbloggpost">
            <input type="text" id="MeddelandeText" name="MeddelandeText" />
            <input type="text" id="Mottagare" name="Mottagare" value="@Model.UserID" hidden="hidden" />
            <input type="text" id="Avsändare" name="Avsändare" value="@User.Identity.GetUserId()" hidden="hidden" />
            <div>
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery-3.3.1.js" type="application/json"></script>
    
    <script>
        function read() {
        $.getJSON("/api/BloggPostApi/list?userId=@Model.UserID")
        .done(function (data)
        {
        var contents = $("#blogpostcontent");
        contents.empty();

        data.forEach(function (item) {
        var li = $("<li> </li>");
        var div = $("<div></div>");
        var from = $("<h4></h4> ");
        from.text(item.FulltNamn);
        var SkickatDatum = $("<h4></h4> ");
        SkickatDatum.text(item.SkickatDatum);
        var MeddelandeText = $("<p></p>");

        MeddelandeText.text(item.MeddelandeText);
        div.append(from);
        div.append(SkickatDatum);
        div.append(MeddelandeText);
        li.append(div);
        $("#blogpostcontent").append(li);
        });
        });
        };

        $('#addbloggpost').submit(function (ex, e2) {
        ex.preventDefault();

        var form = $(this);
        var data = form.serialize();
        $.post({ url: "api/BloggPostApi/add" }, data)

        .then(read);
        });

        read();
    </script>
}

