@using Microsoft.AspNet.Identity;
@model ASPMedAPI.Models.Classes.Profil

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</configuration>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Förnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Förnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efternamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efternamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Födelsedatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Födelsedatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
@if (!(Model.UserID == User.Identity.GetUserId()))
{
    @Html.ActionLink("» Lägg till vän", "RequestList", "Vän",
                new { friendID = Model.UserID },
                new { @class = "btn btn-primary" })

}


<p>
    @Html.ActionLink("Tillbaka", "Index")
</p>
