@model IEnumerable<ASPMedAPI.Models.Classes.Profil>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profiler på BÄRSDAGS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>@Html.ActionLink("Search after profiles","Search", "Profils") </p>
<p>@Html.ActionLink("Profils", "AddImage", "Profils") </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Födelsedatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
    </tr>

    @foreach (var item in Model)
    {

<tr>
    <td>
    
        <img src="~/Content/Images/@item.ProfileURL" style="height: auto; max-height: 300px; width: 200px;" class="card-img-top" />
    
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Förnamn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Efternamn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Födelsedatum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProfileURL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bio)
    </td>
    <td>
        @Html.ActionLink("Redigera", "Edit", new { id = item.UserID }) |
        @Html.ActionLink("Visa profil", "Details", new { id = item.UserID }) |
        @Html.ActionLink("Ta bort", "Delete", new { id = item.UserID })
    </td>

</tr>
    }

</table>
