@model IEnumerable<ASPMedAPI.Models.Classes.Profil>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profiler på BÄRSDAGS</h2>

<h3>@Html.ActionLink("Min profil", "ProfilStartsida", "Profils")</h3>
<p>@Html.ActionLink("Sök", "Search", "Profils") </p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Födelsedatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>

                <img id="Index" src="~/Content/Images/@item.ProfileURL"  class="card-img-top" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Förnamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Födelsedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.ActionLink("Redigera profil", "Edit", new { id = item.UserID })
                @Html.ActionLink("Visa profil", "Details", new { id = item.UserID })
            </td>

        </tr>
    }

</table>
