@model ASPMedAPI.Models.Classes.Vän

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vän</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vän_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
