@model ASPMedAPI.Models.Classes.PendingRequests
@{
    ViewBag.Title = "StartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact settings </h2>
<ul class="nav">
    <li class="nav-item">
        @Html.ActionLink("» Friendlist", "FriendList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Outgoing (" + @Model.Outgoing + ")", "OutgoingList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Incomming (" + @Model.Incomming + ")", "IncommingList", "Friend", null)
    </li>
</ul>