@model ASPMedAPI.Models.Classes.PendingRequests
@{
    ViewBag.Title = "StartIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vänner</h2>
<ul class="nav">
    <li class="nav-item">
        @Html.ActionLink("» Mina vänner", "FriendList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Skickade vänförfrågningar (" + @Model.Outgoing + ")", "OutgoingList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Mottagna vänförfrågningar (" + @Model.Incomming + ")", "IncommingList", "Friend", null)
    </li>
</ul>